<!-- Please remove this file from your project -->
<template>
  <div>
    <app-navbar></app-navbar>
    <div class="container d-flex justify-content-center align-items-center my-root">
      <Nuxt />
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar/Navbar.vue'
export default {
  components:{
      'app-navbar': Navbar
  }
}
</script>
